/*Form Busqueda*/
body > main > section {
    width: 16em;
    margin-left: auto;
    margin-right: auto;
}

body > main > section > form {
    display: flex;
    flex-direction: column;
    width: 14em;
}

body > main > section > form > label > input, body > main > section > form > label > select {
    width: 10em;
    float: right;
    margin-bottom: 1em;
}

body > main > section > form > button {
    padding: 0.75em;
    border-radius: 1px;
    border: 1px solid #666;
    background-color: #fefefe;
    width: 15em;
    box-shadow: 0.5px 0.5px grey;
    cursor:pointer;
}

body > main > section > form > button:hover {
    background-color: #5495ff;
    color:black;
    box-shadow: 2px 2px grey;
}

/*estilo de anyadir_foto_album_respuesta*/
#volver_al_perfil {
    border: 1px solid #5b5b5b;
    height: 1.3em;
    padding: 0.36em 1em;
    border-radius: 0px;
    margin-left: 16em;
    text-decoration: none;
    color: #000;
}

/*baja usuario resumen*/
#baja_borrar_usuario {
    margin: 1em 0em 1em 8em;
    padding: 0.75em;
    border-radius: 1px;
    border: 1px solid #666;
    background-color: #fefefe;
    width: 15em;
    box-shadow: 0.5px 0.5px grey;
    cursor:pointer;
}
