/*Mi Perfil*/

main > section > h3 {
    margin-left: 1em;
}

body > main > section {
    display: flex;
    flex-direction: row;
}

#navegacion_perfil {
    display: flex;
    flex-direction: column;
    width: 16em;
}

main  img {
    height: 8em;
}

body > main > section > div > label {
    margin: 0.5em;
    width: 15em;
}

body > main > section > div > label > button{
    padding: 0.75em;
    border-radius: 1px;
    border: 1px solid #666;
    background-color: #fefefe;
    width: 100%;
    box-shadow: 0.5px 0.5px grey;
    cursor:pointer;
}

body > main > section > div > label > button:hover{
    background-color: #7caeff;
    color: black;
    box-shadow: 2px 2px grey;
}

@media screen and (max-width: 550px) {
    body > main > section {
        flex-direction: column;
    }
}
