
.icon-key:before { content: '\e800'; } /* '' */
.icon-heart-empty:before { content: '\e801'; } /* '' */
.icon-calendar:before { content: '\e802'; } /* '' */
.icon-home-outline:before { content: '\e803'; } /* '' */
.icon-down-circled2:before { content: '\e805'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-hand-pointer-o:before { content: '\f25a'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */